
body *{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


body {
  margin: 0px;
  box-sizing: border-box;
  background: var(--lb-1);
}

img {
  height: auto;
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  margin: 0px;
  color: inherit;
}

textarea {
  background: none;
  border: none;
  outline:0px none transparent;
  resize: none;
}

textarea::placeholder {
  opacity: 1 !important;
  color: inherit;
}

li {
  list-style: none;
  text-align: justify;
}
