p,
h1,
h2,
h3,
h4,
blockquote,
dd,
dt {
  margin: 0px;
}

body {
  margin: 0px;
  background: var(--lb-1);
}

img {
  height: auto;
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  margin: 0px;
  color: inherit;
}

textarea {
  background: none;
  border: none;
  outline:0px none transparent;
  color: var(--db-3);
  font-size: 32px;
  margin-top: 40px;
  resize: none;
}